
$accent-start: #292643;


$disabled: #bbaab8;

$gradient-end: #776483;
$gradinet-start: #44426e;

$spinner-color: #44426e;

$gradient-color: linear-gradient(180deg, $gradinet-start, $gradient-end);

$header-height: 70px;

$footer-height: 70px;