$disabled: #bbaab8;
$form-color: #776483;
$accent-start: #292643;
$accent-end: #44426e;
$header-gradient: linear-gradient(180deg, $accent-end, $form-color);

.card-header {
    background: $header-gradient;
    color: white;
}

.todo-card {
    box-sizing: content-box;
    height: fit-content;
    border: 0.5px solid lightgray;
    border-radius: 16px;

    .trim-ends {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .header {
        background: $header-gradient;
        color: white;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        padding: 8px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-text {
            width: 90%;
        }

        .header-icon {
            width: 24px;
            height: 24px;
            filter: invert(99%) sepia(3%) saturate(192%) hue-rotate(106deg) brightness(112%) contrast(100%);
        }
    }

    .content {
        cursor: pointer;

        .my-card-body {
            height: fit-content;

            .no-task {
                height: 115px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: italic;
            }

            ul {
                height: 115px;
                padding: 0;
                margin: 0;
                li {
                    font-size: 16px;
                    max-height: 33.3%;
                    min-height: 33.3%;
                    width: 100%;
                    text-decoration: none;
                    list-style: none;
                    border-bottom: 1px solid lightgray;
                    padding: 8px 12px !important;
                }
                li:nth-child(3) {
                    border: none;
                }
            }
        }

        .card-footer {
            padding: 4px 24px 8px 24px;
            border-top: 0.5px solid lightgray;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .date {
                font-size: 12px;
                font-style: italic;
            }
        }
    }
}
