<form (ngSubmit)="register()" class="auth-form">
    <div class="form-floating">
        <input required id="firstName" class="form-control" type="text" name="firstName" placeholder="John"
            [(ngModel)]="firstName">
        <label for="firstName" class="form-label">First Name</label>
    </div>

    <div class="form-floating">
        <input id="lastName" class="form-control" type="text" name="lastName" placeholder="Doe"
            [(ngModel)]="lastName">
        <label for="lastName" class="form-label">Last Name</label>
    </div>
    <div class="form-floating">
        <input id="email" class="form-control" type="email" name="email" placeholder="name@example.com"
            [(ngModel)]="email">
        <label for="email" class="form-label">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" placeholder="password" type="password" id="password"
            name="password" [(ngModel)]="password">
        <label for="password" class="form-label">Password</label>
    </div>
    <button id="submitBtn" type="submit" class="hidden"></button>
</form>
