<div class="page-content">
  <div class="login-container">
    <div class="title">
      <div class="link active">Login</div>
      <div class="link">Register</div>
    </div>
    <div class="auth-form">
      <form (ngSubmit)="login()">
        <div class="form-floating">          
          <input id="email" class="form-control" type="email" name="email"  placeholder="name@example.com" [(ngModel)]="email">
          <label for="email" class="form-label">Email address</label>
        </div>
        <div class="form-floating">         
          <input type="password" class="form-control"  placeholder="name@example.com" type="password" id="password" name="password" [(ngModel)]="password">
          <label for="password" class="form-label">Password</label>
        </div>
        <button id="submitBtn" type="submit" class="hidden"></button>
    </form> 

    <div class="custom-button" (click)="clickSubmit()">
      Login
    </div>
    <!-- <button (click)="login()">Login</button>
    <button (click)="getLists()">Get Lists</button>
    <button (click)="refreshToken()">Refresh Token</button> -->
    </div>
    

  </div>
</div>


