<div class="header-container">
    <div class="header-content">
        <div class="left"></div>
        <div class="center">
            <div class="brand">
                Todo
            </div>
        </div>
        <div class="right">
          <img *ngIf="isLoggedIn" (click)="logoutClicked()" src="../../../assets/button-icons/logout.svg" alt="asd" style="filter: invert(99%) sepia(3%) saturate(192%) hue-rotate(106deg) brightness(112%) contrast(100%); height: 24px; width: 24px;">
            <!-- <div style="height: fit-content">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerForm">Register</button>
            </div> -->
        </div>
    </div>
</div>

<app-confirmation-dialog *ngIf="showConfDialog" (dialogChoice)="handleDialogResponse($event)"></app-confirmation-dialog>
