.header-container{
    width: 100%;
    background-color: #44426e;
    color:white;
    
    .header-content{
        width: 80%;
        margin: 0 auto;        
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            display: flex;
            justify-content: center;
            width: 33%;
            .brand{
                font-weight: bold;
                font-size: 32px;
                line-height: 48px;
                padding: 10px 0;
            }
        }
        .right{
            justify-content: end;
        }
    }
}