<div class="page-content">
    
    <!-- <app-input [id]="'test'" [label]="'test'"></app-input> -->

    <div class="auth-container">
        <div class="title">
            <div #loginTitle class="link active" (click)="selectAuthType(0)">Login</div>
            <div #registrationTitle class="link" (click)="selectAuthType(1)">Register</div>
        </div>
        <div class="auth-form">
            <app-login *ngIf="isLogin" (userInfo)="login($event)"></app-login>
            <app-registration *ngIf="!isLogin" (registrationForm)="register($event)"></app-registration>
            <div class="custom-button" (click)="clickSubmit()">
                {{buttonLabel}}
            </div>
        </div>
    </div>
    
</div>
